  .note-button {
    width: 80px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .note-button:hover {
    background-color: blue;
    color: #a8e5ec;
  }
  
  .note-button.selected {
    background-color: blue;
    color: white;
  }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  .answer-block {
    width: 80px;
    padding: 8px;
    border: 0px solid #ccc;
    border-radius: 0px;
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
  }

